<div class="row">
  <div class="col" style="padding: 20px;">
    <div class="form-row">
      <label style="padding: 20px;" >Email:</label>
      <aw-input id="email-field" icon="envelope">
        <input #input type="email" placeholder="email" class="test-class">
      </aw-input>
    </div>
    
   
    
    
    
  </div>
  <div class="col" style="padding: 20px;">
    <div class="form-row">
      <label style="padding: 20px;">Paasword:</label>
      <aw-input id="email-field" icon="lock">
        <input #input type="email" placeholder="email" class="test-class">
      </aw-input>
    </div>
  </div>
</div>